Flask==3.0.2
gunicorn==22.0.0
flask-cors==4.0.0
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlmodel
alembic
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib
bcrypt==3.2.2
python-multipart
httpx
email-validator
openai
gradio
gunicorn